#widget-img {
    width: 20%;
    height: auto;
    vertical-align: middle;
}

#widget-text {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    color: rgb(75, 75, 75);
}

.widget {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.01em;
    box-sizing: border-box;
    border: 3px solid #f1f1f1;
    border: 1px solid #888;
    width: 32.4%; /* Could be more or less, depending on screen size */
    float: left;
    padding-bottom: 16px;
}

#widget-spec {
    color: black;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}