<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title> Epiboard </title>
</head>
<body>
	<h1>
			Welcome to Epiboard!
	</h1>
	<button class="login-button" onclick="document.getElementById('id01').style.display='block'">Login</button>

	<!-- The Modal -->
	<div id="id01" class="modal">
		<span onclick="document.getElementById('id01').style.display='none'"
		class="close" title="Close Modal">&times;</span>
		<form class="modal-content animate" action="./login" method="post">
			<div class="imgcontainer">
				<img src="default-user-image.png" alt="Avatar" class="avatar">
			</div>
			
			<div class="container">
				<label for="username"><b>Username</b></label>
				<input id="username" type="text" placeholder="Enter Username" name="username" required>

				<label for="password"><b>Password</b></label>
				<input id="password" type="password" placeholder="Enter Password" name="password" required>
			
				<button class="pop-button" type="submit">Login</button>
				<label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
				</label>
			</div>
			
			<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
					<span class="password">Forgot <a href="#">password?</a></span>
			</div>
		</form>
	</div>

	<h1>
		Not registered ?
	</h1>

	<button class="signup-button" onclick="document.getElementById('id02').style.display='block'">Sign Up</button>
	<div id="id02" class="modal">
		<span onclick="document.getElementById('id02').style.display='none'"
		class="close" title="Close Modal">&times;</span>
		<form class="modal-content animate" action="./signup" method="post">
			<div class="imgcontainer">
					<img src="default-user-image.png" alt="Avatar" class="avatar">
				</div>
			<div class="signup-div">
				<label for="login"><b>Username</b></label>
				<input id="username" name="username" type="text"
					placeholder="Enter username" required>
				<label for="login"><b>Full Name</b></label>
				<input id="fullname" name="fullname" type="text"
					placeholder="Enter fullname" required>
				<label for="login"><b>Mail Adress</b></label>
				<input id="email" name="email" type="text"
					placeholder="Enter email" required>
				<label for="login"><b>Password</b></label>
				<input id="password" type="password" placeholder="Enter Password" name="password" required>
				<button class="pop-button" type="submit">Submit</button>
			</div>
				<div class="container" style="background-color:#f1f1f1">
						<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
				</div>
		</form>
	</div>
		
	
</body>
</html>
