<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="login.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="navbar.css">
	<title> Epiboard </title>
</head>
<body>
		<ul>
		  <li><a href="services">Services</a></li>
		  <li><a href="dashboard">Dashboard</a></li>
		  <li id="logout"><a href="logout">Logout</a></li>
		</ul>
	<h1>
		You can select your services here
	</h1>

	<form  action="./dashboard" method="post">
	<select name="services" multiple>
	  <option value="meteo">Meteo</option>
	  <option value="stock">Bourse</option>
	  <option value="research">Research</option>
	</select>
	<input type="submit">
	</form>
	
	<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
	

</body>
</html>
