# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse

Debug
.cproject
.project
.settings
doc

# Clion

.idea

# Dolphin
.directory

# Lock

*~
\#*\#
.\#

# Valgrind

vgcore*

# Doxygen

Documentation/html
#!Documentation/Doxyfile

# Binaries

build
build/*

/Server/GameEngine/cmake-build-debug/
Server/GameEngine/cmake-build-debug/
Server/GameEngine/cmake-build-debug/**
Server/cmake-build-debug/**